.toDoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDosGrid {
    width: 100%;
}

.toDo {
    min-height: 250px;
    max-height: 4500px;
    min-width: 200px;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
}

.toDo:hover {
    box-shadow: rgba(4, 33, 46, 0.548) 0px 6px 24px 0px, rgba(4, 33, 46, 0.85) 0px 0px 0px 1px;

}
